<div id="header">
    
    <img id="cone" src="/img/header/cone.png" alt="cone">
    <p id="beta">Beta</p>
    <div id="main-title-box">
        <a href="/" id="main-title">Frid<span class="blue">g</span>e-Ma<span class="red">g</span>nets</a>
        <a class="red left" href="/about">About</a>
        <a class="blue right" href="/suggestions">Suggestion Box</a>
    </div>
    <img id="magnet" src="/img/header/magnet.png" alt="magnet">
    <p id="sub-title">Stick around</p>

</div>