<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/header/fridge.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Lalezar&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Fridge-Magnets</title>
</head>
<body>
    <div class="page">
        <%- include("partials/header.ejs")%>
    </div>
</body>
</html>