:root{
    --main-color: #FFFFFF;
    --secondary-color: #020808;
    --blue:#0078D5;
    --red:#E23225;
    --main-font: "Lalezar","Arial","Sans Serif";
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    display: grid;
    background-color: var(--secondary-color);
}
body::-webkit-scrollbar{
    display:none;
}

canvas{
    margin:0 auto;
    vertical-align: bottom;
    background-color: var(--main-color);
    background-image: url("/img/refrigerator.jpg"),
                        url("/img/clipboard.png"),
                        url("/img/bin.png"),
                        url("/img/fan.png"),
                        url("/img/rope.png"),
                        url("/img/dustpan.png"),
                        url("/img/tile.png"),
                        url("/img/tile.png");
    background-repeat: no-repeat,
                        no-repeat,
                        no-repeat,
                        no-repeat,
                        no-repeat,
                        no-repeat,
                        repeat-y,
                        repeat-y;
    background-position: 50% 10px,
                        0px 350px,
                        -250px 3400px,
                        3000px -120px,
                        455px 0px,
                        3475px 3450px,
                        right,
                        left;
    background-size: contain,
                        25%,
                        25%,
                        25%,
                        100px 800px,
                        15%,
                        25%,
                        25%;
}

.blue{
    color:var(--blue);
}
.red{
    color:var(--red);
}
#header{
    background: var(--secondary-color);
    color:var(--main-color);
    font-family: var(--main-font);
    display: flex;
    justify-content: center;
    z-index: 1;
}
#main-title{
    font-size: 4em;
    margin: auto 0;
    display: block;
    color:var(--main-color);
}
#cone{
    margin-left:10px;
    height: 100px;
    margin-top: auto;
}
#beta{
    color:yellow;
    margin-top: 10px;
    transform: rotate(-20deg);
}
#header a:active{
    display: inline;
}
a{
    text-decoration: none;
    transition-duration: 0.4s;
}
a:hover{
    color:var(--main-color);
}
.links{
    display: flex;
    justify-content: space-between;
    margin: auto 0;
}
#fridge-icon{
    height:100px;
    margin-top: auto;
}

.page{
    height:100vh;
    min-width: 1024px;
    background-image: url("/img/tile.png");
    background-repeat: repeat;
    background-position: center;
    background-size: contain;
}
.page-box {
    font-size: 1.5em;
    font-family: "Raleway", "Arial", "Sans-Serif";
    background-color: var(--secondary-color);
    color: var(--main-color);
    width: 70%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px 10px var(--secondary-color);
}
.page-box a {
    color: var(--blue);
}
.page-box ul {
    list-style: none;
}
.page-box h3 {
    margin: 20px auto;
}
.page-box li {
    margin-top: 10px;
}

#suggestions {
    display: flex;
    flex-direction: column;
    padding: 0 25px;
}
#name{
    font-size: 0.8em;
}
#name::placeholder{
    color:var(--main-color);
}
#email{
    font-size: 0.8em;
}
#email::placeholder{
    color:var(--main-color);
}
textarea {
    resize: none;
    height: 35vh;
    font-size: 1.1em;
}
.form-input{
    background-color: var(--secondary-color);
    color:var(--main-color);
    border: 1px solid var(--main-color);
}
.centertext{
    text-align: center;
}
.space-top{
    margin-top: 20px;
}
.subtext{
    font-size: 0.75em;
    margin-bottom: 10px;
    padding: 0 25px;
}
button{
    font-family: "Raleway", "Arial", "Sans-Serif";
    font-size: 1.1em;
    width:25%;
    margin:25px auto 0 auto;
    background-color: var(--blue);
    transition-duration: 0.4s;
    border:none;
    border-radius: 15px;
}
button:hover{
    background-color: var(--main-color);
    color: var(--secondary-color)
}

#notfound{
    background: var(--secondary-color);
    color:var(--main-color);
    font-size: 24px;
    text-align: center;
    margin: 50px auto;
    width:33%;
    border-radius: 10px;
    font-family: "Raleway", "Arial", "Sans-Serif";
    padding:10px;
}
.notfound{
    background-image: url("/img/notfound.jpg");
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
}
#awkward{
    border-bottom: 2px solid var(--blue);
    font-size: 20px;
}
