:root{
    --main-color: #FFFFFF;
    --secondary-color: #020808;
    --blue:#0078D5;
    --red:#E23225;
    --main-font: "Lalezar","Arial","Sans Serif";
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    display: grid;
    background-color: var(--secondary-color);
}
body::-webkit-scrollbar{
    display:none;
}

canvas{
    margin:0 auto;
    vertical-align: bottom;
    background-color: var(--main-color);
    background-image: url("/img/refrigerator.jpg"),
                        url("/img/clipboard.png"),
                        url("/img/bin.png"),
                        url("/img/fan.png"),
                        url("/img/rope.png"),
                        url("/img/dustpan.png"),
                        url("/img/tile.png"),
                        url("/img/tile.png");
    background-repeat: no-repeat,
                        no-repeat,
                        no-repeat,
                        no-repeat,
                        no-repeat,
                        no-repeat,
                        repeat-y,
                        repeat-y;
    background-position: 50% 10px,
                        0px 350px,
                        -250px 3400px,
                        3000px -120px,
                        455px 0px,
                        3475px 3450px,
                        right,
                        left;
    background-size: contain,
                        25%,
                        25%,
                        25%,
                        100px 800px,
                        15%,
                        25%,
                        25%;
}

.blue{
    color:var(--blue);
}
.red{
    color:var(--red);
}
#header{
    background: var(--secondary-color);
    color:var(--main-color);
    font-family: var(--main-font);
    display: flex;
    justify-content: center;
    z-index: 1;
}
#main-title{
    font-size: 4em;
    padding-left: 20px;
    margin: auto 0;
    display: block;
    color:var(--main-color);
}
#magnet{
    margin-left:25px;
}
#cone{
    margin-left:10px;
}
#sub-title{
    margin: auto 60px auto 10px;
    font-size: 2em;
}
#beta{
    color:yellow;
    margin-top: 10px;
    transform: rotate(-20deg);
}
a{
    text-decoration: none;
    transition-duration: 0.4s;
}
a:hover{
    color:var(--main-color);
}
.left{
    margin-left: 120px;
}
.right{
    float: right;
    margin-right: 80px;
}
.page{
    height:100vh;
    min-width: 1024px;
    background-image: url("/img/tile.png");
    background-repeat: repeat;
    background-position: center;
    background-size: contain;
}

#about {
    font-size: 1.5em;
    font-family: "Raleway", "Arial", "Sans-Serif";
    background-color: var(--secondary-color);
    color: var(--main-color);
    width: 70%;
    margin: 75px auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px 10px var(--secondary-color);
}

#about a {
    color: var(--blue);
}

#about ul {
    list-style: none;
}

#about h3 {
    margin: 20px auto;
}

#about li {
    margin-top: 10px;
}


#notfound{
    background: var(--secondary-color);
    color:var(--main-color);
    font-size: 24px;
    text-align: center;
    margin: 50px auto;
    width:33%;
    border-radius: 10px;
    font-family: "Raleway", "Arial", "Sans-Serif";
    padding:10px;
}

.notfound{
    background-image: url("/img/notfound.jpg");
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
}

#awkward{
    border-bottom: 2px solid var(--blue);
    font-size: 20px;
}