:root{
    --main-color: #cccccc;
    --secondary-color: #333333;
    --main-font: "Lalezar","Arial","Sans Serif";
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    display: grid;
}
body::-webkit-scrollbar{
    display:none;
}

.blue{
    color:#0078D5;
}
.red{
    color:#E23225;
}

canvas{
    vertical-align: bottom;
    background-image: url("/img/refrigerator.jpg");
    background-repeat: no-repeat;
    background-position: 50% 10px;
    background-size: contain;
    margin:0 auto;
    border: 4px solid var(--secondary-color);
}

#header{
    background: var(--secondary-color);
    color:var(--main-color);
    font-family: var(--main-font);
    display: flex;
    justify-content: center;
    z-index: 1;
}
#main-title{
    font-size: 4em;
    padding-left: 20px;
    margin: auto 0;

}
#magnet{
    margin-left:25px;
}
#sub-title{
    margin: auto 0 auto 25px;
    font-size: 2em;
}
#beta{
    color:yellow;
    margin-top: 10px;
    transform: rotate(-20deg);
}